body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.login {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.logInButton {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #064437;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.logInButton:hover {
  background-color: #036226;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #ddd;
}