.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #064437;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #064437;
}

.general-info {
  margin-bottom: 20px;
}

.general-info h2 {
  margin-bottom: 10px;
}

.general-info p {
  margin: 5px 0;
}

.six-months {
  margin-bottom: 20px;
}

.six-months h2 {
  margin-bottom: 10px;
}

.six-months form {
  margin-top: 10px;
}

.predicted-pose {
  margin-bottom: 20px;
}

.predicted-pose h2 {
  margin-bottom: 10px;
}